body{
    background-color: rgb(185, 207, 237);
    text-align: center;
    justify-content: center;
}

.Main{
    max-width: 350px;
    max-height: 80vh;
    align-items: center; 
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
    background-color: hsl(0, 0%, 100%);
    padding: 18px;
    border-radius: 16px;
    text-align: center;
}


.divx {
    width: 100px;
    height: 100px;
    background-color: red;
    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
}

.qr_image{
    width: 100%;
    border-radius: 16px;

}


.text{
    padding: 22px 10px;
    
}

.text p{
    color:  hsl(220, 15%, 55%);
}
.text h2{
    color:hsl(218, 44%, 22%);
    padding-bottom: 15px;
}